body{ 
			font-family: Sans, serif;
			background: orange;
			color: orange;
}

.welcome{
			color: yellow;
			font-size: 20px;
}

.top span{
			color: orange;
			padding: 20px;
}

b{color:red;}
img{
			width: 100%;
}

.info{
			color: orange;
}